body {
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    background-image: linear-gradient(to bottom right, #FFFFFF, #975c7e);
    background-image: url('../img/background_group.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

header {
    box-sizing: border-box;
    height: 150px;
    margin: 0;
    background-color: #ffffff;
    border-bottom: 1px solid #71004080;
    box-shadow: 0px 1px 3px #7e3046;
}

#header_logo {
    height: 100px;
    width: 300px;
    padding: 0;
    float: left;
    position: relative;
    left: 30px;
    top: 25px;
}

#header_nav {
    box-sizing: border-box;
    position: relative;
    height: 150px;
    width: 600px;
    margin: 0;
    float: right;
}

#thumbnail {
    box-sizing: border-box;
    height: 80px;
    width: 80px;
    margin-top: 30px;
    margin-right: 40px;
    border-radius: 50%;
    border: 1px solid #710020;
    box-shadow: 2px 2px 3px gray;
    float: right;
}

#header_nav ul {
    box-sizing: border-box;
    height: 80px;
    width: 500px;
    position: absolute;
    bottom: 10px;
    font-size: 17pt;
    margin: 0;
}

#header_nav li {
    display: inline;
    margin-right: 20px;
}

#header_nav li a {
    text-decoration: none;
    font-weight:500;
    color: #710040;
}

#header_nav li a:hover {
    text-shadow: 1px 1px 1px gray;
}

.current {
    font-weight: 600;
    color: #710040;
}

.current:hover {
    text-shadow: none;
}

#container {
    box-sizing: border-box;
    width: 550px;
    height: 240px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
    overflow: auto;
    box-shadow: 2px 2px 3px black;
    border-radius: 3px;
}

#container_header {
    box-sizing: border-box;
    width: 610px;
    height: 60px;
    margin-bottom: 20px;
    padding-top: 15px;
    text-align: center;
    background-color: rgb(240, 240, 240);
    border-bottom: 1px solid gray;
}

#container_header h2 {
    margin-top: 0;
}

.section_header {
    box-sizing: border-box;
    height: 60px;
    width: 100%;
    background-color: rgb(240, 240, 240);
    background-image: radial-gradient(#FFFFFF,rgb(219, 219, 219));
    border-bottom: 1px solid gray;
    box-shadow: 0px 1px 1px gray;
    border-radius: 5px;
}

.section_header p {
    box-sizing: border-box;
    margin-top: 0px;
    padding-top: 17px;
    font-size: 16pt;
    font-weight: 600;
    text-align: center;
}

#info_div {
    box-sizing: border-box;
    margin-left: 10px;
    margin-bottom: 10px;
}

#delete_prompt {
    margin-top: 30px;
    font-size: 13pt;
    text-align: center;
}

form {
    box-sizing: border-box;
    margin-top: 20px;
}

label {
    display: block;
    font-size: 14pt;
    margin-bottom: 25px;
}

span {
    color:#710020;
    font-weight: 600;
}

#delete_button {
    display: block;
    height: 30px;
    width: 200px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 12pt;
    font-family: 'raleway', sans-serif;
    font-weight: 500;
    border-radius: 4px;
    border: 1px solid black;
    background-color: #71004030;
    box-shadow: 1px 1px black;
}

#delete_button:hover {
    border: 1px inset black;
    box-shadow: 1px 1px inset black;
}

#cancel_button {
    display: block;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
}

#cancel_button p {
    box-sizing: border-box;
    display: block;
    height: 25px;
    width: 120px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3px;
    font-size: 11pt;
    font-family: 'raleway', sans-serif;
    text-align: center;
    color: black;
    border-radius: 4px;
    border: 1px solid black;
    background-color: #71004020;
    box-shadow: 1px 1px black;
}

#cancel_button p:hover {
    border: 1px inset black;
    box-shadow: 1px 1px inset black;
}

.error {
    color: red;
    font-size: 11pt;
}

footer {
    box-sizing: border-box;
    height: 30px;
    width: 100%;
    padding-top: 5px;
    position: absolute;
    bottom: 0px;
    background-color: #ffffff;
    background-image: radial-gradient(#FFFFFF,rgb(196, 196, 196));
    border-top: 3px ridge #71004080;
    font-size: 11pt;
    text-align: center;
}
