body {
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    background-image: linear-gradient(to bottom right, #FFFFFF, #975c7e);
    background-image: url('../img/dashboard_bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    box-sizing: border-box;
    height: 150px;
    margin: 0;
    background-color: #ffffff;
    border-bottom: 1px solid #71004080;
    box-shadow: 0px 1px 3px #7e3046;
}

#header_logo {
    height: 100px;
    width: 300px;
    padding: 0;
    float: left;
    position: relative;
    left: 30px;
    top: 25px;
}

#header_nav {
    box-sizing: border-box;
    position: relative;
    height: 150px;
    width: 500px;
    margin: 0;
    float: right;
}

#thumbnail {
    box-sizing: border-box;
    height: 80px;
    width: 80px;
    margin-top: 30px;
    margin-right: 40px;
    border-radius: 50%;
    border: 1px solid #710020;
    box-shadow: 2px 2px 3px gray;
    float: right;
}

#header_nav ul {
    box-sizing: border-box;
    height: 80px;
    width: 400px;
    position: absolute;
    bottom: 10px;
    font-size: 17pt;
    margin: 0;
}

#header_nav li {
    display: inline;
    margin-right: 20px;
}

#header_nav li a {
    text-decoration: none;
    font-weight:500;
    color: #710040;
}

#header_nav li a:hover {
    text-shadow: 1px 1px 1px gray;
}

/* ----------- Not member ------------ */
#container_nonmember {
    box-sizing: border-box;
    height: 400px;
    width: 700px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    overflow: auto;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 2px black;
}

#container_nonmember img {
    box-sizing: border-box;
    height: 380px;
    width: 300px;
    float: left;
    margin-right: 20px;
    box-shadow: 1px 2px 2px black;
}

#container_nonmember div {
    box-sizing: border-box;
    height: 380px;
    width: 360px;
    padding: 10px;
    float: left;
}

#container_nonmember h2 {
    margin-top: 100px;
    text-align: center;
}

#container_nonmember label {
    display: block;
    margin-left: 20px;
    margin-bottom: 10px;
}

#container_nonmember input {
    display: block;
    height: 20px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    background-color:rgb(250, 250, 250);
}

#container_nonmember #submit_button {
    box-sizing: border-box;
    display: block;
    height: 30px;
    width: 180px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Raleway', sans-serif;
    font-size: 14pt;
    font-weight: 600;
    text-align: center;
    color: black;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 1px 2px gray;
    background-color:#71004020;
}

#container_nonmember #submit_button:hover {
    border: 1px inset gray;
    box-shadow: 1px 1px inset gray;
}

/* ----------------------------------- */

/* ------------ Member -------------- */

#container_member {
    box-sizing: border-box;
    height: 1000px;
    width: 900px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

#container_member #column_left {
    box-sizing: border-box;
    height: 1000px;
    width: 570px;
    margin-right: 30px;
    float: left;
}

#container_member #column_right {
    box-sizing: border-box;
    height: 1000px;
    width: 300px;
    float: left;
}

#container_member #header_div {
    box-sizing: border-box;
    height: 80px;
    width: 570px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 1px 2px 2px black;
}

#header_div > p {
    margin-top: 8px;
    margin-left: 20px;
    font-size: 14pt;
}

#container_member #member_list {
    box-sizing: border-box;
    height: 700px;
    width: 570px;
    background-color: #f5f5f5;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 1px 2px 2px black;
    overflow: auto;
}

table {
    width: 530px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-collapse: collapse;
    box-shadow: 1px 2px 2px gray;
}

th {
    box-sizing: border-box;
    height: 40px;
    border: 1px solid black;
    font-weight: 500px;
    background-color: #caa1ba;
}

tr:nth-of-type(even) {
    background-color: #e2e2e2;
}

td {
    box-sizing: border-box;
    height: 60px;
    text-align: center;
    padding-left: 10px;
}

td:nth-of-type(3) {
    padding-left: 0px;
    
}

#mini_thumbnail {
    box-sizing: border-box;
    display: block;
    height: 46px;
    width: 46px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: 1px solid #710020;
    box-shadow: 2px 2px 3px gray;
}

#alert_section {
    box-sizing: border-box;
    height: 200px;
    width: 300px;
    margin-top: 0px;
    margin-bottom: 20px;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #f5f5f5;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 1px 2px 2px black;
}

#alert_prompt1 {
    margin: 0px;
    text-align: center;
    font-size: 14pt;
    color: #710020;
    font-weight: 600;
}

#alert_prompt2 {
    text-align: center;
}

#alert_button {
    text-decoration: none;
}

#alert_button p {
    box-sizing: border-box;
    width: 150px;
    height: 35px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4px;
    font-size: 14pt;
    text-align: center;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 1px 2px black;
    background-color: #ff8989;
}

#alert_button p:hover {
    border: 1px inset black;
    box-shadow: 1px 1px inset gray;
}

#options_section {
    box-sizing: border-box;
    height: auto;
    min-height: 130px;
    width: 300px;
    padding-bottom: 15px;
    background-color: #f5f5f5;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 1px 2px 2px black;
    overflow: auto;
}

#options_section #edit_button {
    text-decoration: none;
}

#options_section #edit_button p {
    box-sizing: border-box;
    display: block;
    width: 150px;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4px;
    font-size: 14pt;
    text-align: center;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 1px 2px black;
    background-color: #ff898990;
}

#options_section #edit_button p:hover {
    border: 1px inset black;
    box-shadow: 1px 1px inset black;
}

#options_section #delete_button {
    text-decoration: none;
}

#options_section #delete_button p {
    box-sizing: border-box;
    display: block;
    width: 130px;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 7px;
    font-size: 12pt;
    text-align: center;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 1px 2px black;
    background-color: #caa1ba90;
}

#options_section #delete_button p:hover {
    border: 1px inset black;
    box-shadow: 1px 1px inset black;
}

#options_section #leave_button {
    text-decoration: none;
}

#options_section #leave_button p {
    box-sizing: border-box;
    display: block;
    width: 150px;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4px;
    font-size: 14pt;
    text-align: center;
    color: black;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 1px 2px gray;
    background-color: #ff898990;
}

#leave_button p:hover {
    border: 1px inset black;
    box-shadow: 1px 1px inset black;
}

.title {
    color: #710020;
    font-weight: 700;
    font-size: 16pt;
}

.section_header {
    box-sizing: border-box;
    height: 40px;
    width: 100%;
    background-color: rgb(240, 240, 240);
    background-image: radial-gradient(#FFFFFF,rgb(219, 219, 219));
    border-bottom: 1px solid gray;
    box-shadow: 0px 1px 1px gray;
    border-radius: 5px;
}

.section_header p {
    margin-top: 0px;
    margin-left: 15px;
    padding-top: 10px;
    font-size: 12pt;
    font-weight: 600;
}

footer {
    box-sizing: border-box;
    height: 30px;
    width: 100%;
    padding-top: 5px;
    position: absolute;
    bottom: 0px;
    background-color: #ffffff;
    border-top: 2px ridge #71004080;
    font-size: 11pt;
    text-align: center;
}
