body {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url('../img/alexander-grey-62vi3TG5EDg-unsplash.jpg');
    background-position: center;
    font-family: 'Raleway', sans-serif;
}

#container {
    box-sizing: border-box;
    position: relative;
    width: 850px;
    height: 800px;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 4px rgb(160, 160, 160);
    background-color: #FFFFFF;
}

#hero_image {
    box-sizing: border-box;
    width: 380px;
    height: 760px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    float: left;
    border-radius: 10px;
}

#content {
    box-sizing: border-box;
    height: 780px;
    width: 400px;
    margin-left: 20px;
    padding-left: 20px;
    float: left;
    position: relative;
}

#logo {
    box-sizing: border-box;
    height: 100px;
    width: 300px;
    margin-top: 80px;
}

h1 {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 18pt;
}

h3 {
    margin-left: 30px;
}

#form_div {
    margin: 0;
    padding: 0;
    height: 520px;
    overflow: auto;
}

form {
    box-sizing: border-box;
    margin-top: 10px;
    margin-left: 30px;
    height: auto;
}

form input {
    height: 20px;
    width: 280px;
    font-family: 'raleway', sans-serif;

}

form label {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

#login_prompt {
    font-size: 10pt;
    margin-left: 30px;
}

#create_button {
    height: 30px;
    width: 150px;
    float: right;
    font-size: 12pt;
    font-family: 'raleway', sans-serif;
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 1px 1px black;
    background-color: #71004030;
    position: absolute;
    bottom: 20px;
    right: 30px;
}

#create_button:hover {
    border: 1px inset black;
    box-shadow: 1px 1px inset black;
}

.warning {
    margin-top: 10px;
    margin-left: 0px;
    color: rgb(160, 0, 0);
}

h3.warning {
    font-size: 13pt;
    margin-top: 0px;
}