body {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url('../img/alexander-grey-62vi3TG5EDg-unsplash.jpg');
    background-position: center;
    font-family: 'Raleway', sans-serif;
}

#container {
    box-sizing: border-box;
    position: relative;
    width: 1000px;
    height: 800px;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 4px rgb(160, 160, 160);
    background-color: #FFFFFF;
    /* overflow: auto; */
}

#hero_image {
    box-sizing: border-box;
    width: 380px;
    height: 760px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    float: left;
    border-radius: 10px;
}

#content {
    box-sizing: border-box;
    height: 780px;
    width: 550px;
    margin-left: 20px;
    padding-left: 20px;
    float: left;
    position: relative;
    /* overflow: auto; */
    /* border: 1px dotted black; */
}

#logo {
    box-sizing: border-box;
    height: 100px;
    width: 300px;
    margin-top: 30px;
    /* border: 1px dotted black; */
}

h1 {
    margin-top: 10px;
    margin-left: 10px;
}

h3 {
    margin-left: 30px;
}

#form_div {
    margin: 0;
    padding: 0;
    height: 520px;
    overflow: auto;
}

form {
    box-sizing: border-box;
    margin-top: 10px;
    margin-left: 30px;
    height: auto;
    /* border: 1px dotted black; */
}

form input {
    width: 280px;
    margin-bottom: 10px;
    font-family: 'raleway', sans-serif;
}

input#phone_num {
    width: 200px;
}

form label {
    display: block;
    margin-bottom: 10px;
}

#submit {
    height: 30px;
    width: 150px;
    /* margin-top: 50px; */
    /* margin-right: 60px; */
    float: right;
    font-size: 12pt;
    font-family: 'raleway', sans-serif;
    font-weight: 500;
    border-radius: 4px;
    border: 1px solid gray;
    background-color: #71004030;
    position: absolute;
    bottom: 20px;
    right: 30px;
}

.warning {
    margin-top: 10px;
    margin-left: 0px;
    color: rgb(160, 0, 0);
}

h3.warning {
    font-size: 13pt;
    margin-top: 0px;
}
